
.modal-content {
  background-color: darken($clr1, 2) !important;
  border-radius: 5px;
  // width: 80vw;
  font-size: 14px;
}

.modal-header {
  border-bottom: 1px solid $clr2;
  margin-bottom: .8em;
  padding: 25px;
  height: 40px;
  display: grid;
  font-size: 2em;
  place-content: center;
}
