
@font-face {
    src: url('../../fonts/KaushanScript/KaushanScript-Regular.ttf');
    font-family: 'Kaushan';
}
@font-face {
    src: url('../../fonts/Poppins/Poppins-Regular.ttf');
    font-family: 'Poppins';
}
@font-face {
    src: url('../../fonts/Poppins/Poppins-Light.ttf');
    font-family: 'Poppins-light';
}
@font-face {
    src: url('../../fonts/Poppins/Poppins-Medium.ttf');
    font-family: 'Poppins-medium';
}
@font-face {
    src: url('../../fonts/Poppins/Poppins-SemiBold.ttf');
    font-family: 'Poppins-bold';
}
@font-face {
    src: url('../../fonts/Poppins/Poppins-Thin.ttf');
    font-family: 'Poppins-thin';
}
